{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    }
}
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count
  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}
  <div class="section-{{ section.id }}-padding">
<div class="wbcollfea">
      {%- if section.settings.title != blank -%}
        <h2 class="text-left heading {{ section.settings.heading_size }}"><span>{{ section.settings.title | escape }}</span></h2>
      {%- endif -%}
      <div class="rless{% if settings.card_style == 'standard' %} contains-card--standard{% endif %}" aria-label="{{ 'sections.featured_collection.slider' | t }}">
        <div class="wbslickfcoll">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <div class="cless grid__item">
            {% render 'card-product',
              card_product: product,
              display_product_type: section.settings.display_product_type,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              picker_type: section.settings.picker_type,
              show_variants: section.settings.show_variants,
              show_colorswatch: section.settings.show_colorswatch,
              show_quick_add: section.settings.enable_quick_add,
              section_id: section.id
            %}
          </div>
        {%- else -%}
          {%- for i in (1..4) -%}
            <div class="cless grid__item">
              {% render 'product-card-placeholder' %}
            </div>
          {%- endfor -%}
        {%- endfor -%}
        </div>
      </div>
    {%- if section.settings.show_view_all and more_in_collection -%}
      <div class="center collection__view-all">
        <a href="{{ section.settings.collection.url }}"
          class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button button--primary{% else %}button button--secondary{% endif %}" aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}">
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.featured-collection.name",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Featured collection",
        "label": "t:sections.featured-collection.settings.title.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h0",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 12,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.products_to_show.label"
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
          },
          {
            "value": "square",
            "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.label"
      },
      {
          "type": "checkbox",
          "id": "display_product_type",
          "label": "Show product type",
          "default": false
      },
      {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_secondary_image.label"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_vendor.label"
      },
      {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_rating.label",
        "info": "t:sections.featured-collection.settings.show_rating.info"
      },
      {
        "type": "checkbox",
        "id": "enable_quick_add",
        "default": false,
        "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
      },

      {
        "type": "header",
        "content": "Variants"
      },    
      {
        "type": "checkbox",
        "id": "show_variants",
        "default": true,
        "label": "Show color/size variants",
        "info": "This option works when the 'Quick add button' setting is disabled."
      },
      {
        "type": "select",
        "id": "picker_type",
        "options": [
          {
            "value": "dropdown",
            "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
          },
          {
            "value": "button",
            "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
          }
        ],
        "default": "button",
        "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
      },
      {
          "type": "checkbox",
          "id": "show_colorswatch",
          "default": true,
          "label": "Enable color swatches",
          "info": "Requires type to be set to 'Pills'. [Learn how to setup swatches](https://www.webibazaar.com/shopify/viola-doc/home#colorswatch)"
      },


      {
        "type": "header",
        "content": "View all button"
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "default": true,
        "label": "t:sections.featured-collection.settings.show_view_all.label"
      },
      {
        "type": "select",
        "id": "view_all_style",
        "label": "Button style",
        "options": [
          {
            "value": "link",
            "label": "Underline button"
          },
          {
            "value": "outline",
            "label": "Secondary button"
          },
          {
            "value": "solid",
            "label": "Primary button"
          }
        ],
        "default": "solid"
      },


      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-collection.presets.name"
      }
    ]
  }
{% endschema %}
