<div class="section-{{ section.id }}-padding wbfaqpart">
    {%- if section.settings.title != blank -%}
      <h2 class="faqheading"><span>{{ section.settings.title | escape }}</span></h2>
    {%- endif -%}

    {%- for block in section.blocks -%}
      <div class="wbmainfaq">
        {% case block.type %}
          {% when 'rich-text'%}
          <div class="text-{{ block.settings.align_text }}">
            {%- if block.settings.title != blank -%}
                <p class="h2">{{ block.settings.title | escape }}</p>
            {%- endif -%}
            {%- if block.settings.text != blank -%}
                <div class="rte">{{ block.settings.text }}</div>
            {%- endif -%}
          </div>

          {% when 'question'%}
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <button type="button" class="collapsed toggle faqhead" aria-controls="FAQ-content-{{ block.id }}">
                <span itemprop="name">{{ block.settings.title }}</span>
              </button>
              <div id="FAQ-content-{{ block.id }}" class="collapse" itemscope itemprop="acceptAnswer" itemtype="https://schema.org/Answer">
                <div class="rte" itemprop="text">
                  {{ block.settings.text }}
                </div>
              </div>
            </div>
        {% endcase %}
      </div>
    {%- endfor -%}
  {%- if section.blocks.size == 0 -%}
    <div class="text-center">{{ 'wbcustomlabel.wballtext.nocontent' | t }}</div>
  {%- endif -%}
</div>
{%- style -%}
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    }
}
{%- endstyle -%}
{% schema %}
  {
    "name": "FAQ",
    "class": "index-section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "FAQs"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        }
    ],
    "blocks": [
      {
        "type": "rich-text",
        "name": "Rich text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rich text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section for any text you need to fill out your pages or to add any headings between other blocks.</p>"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      },
      {
        "type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Frequently asked question"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          }
        ]
      }
    ],
    "presets": [{
      "name": "FAQ",
      "blocks": [
        {
          "type": "question"
        },
        {
          "type": "question"
        }
      ]
    }]
  }
{% endschema %}
