<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<div class="">
    {% comment %} <h1 class="heading text-left"><span>{{ page_title }}</span></h1> {% endcomment %}
    <div class="page_content">  
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'banner' %}
                    <div class="wbaboutimgblock">
                        <div>
                            {% if block.settings.banner != blank %}
                                <img loading="lazy"
                                srcset="{%- if block.settings.banner.width >= 375 -%}{{ block.settings.banner | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if block.settings.banner.width >= 550 -%}{{ block.settings.banner | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if block.settings.banner.width >= 750 -%}{{ block.settings.banner | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if block.settings.banner.width >= 1100 -%}{{ block.settings.banner | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if block.settings.banner.width >= 1500 -%}{{ block.settings.banner | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if block.settings.banner.width >= 1780 -%}{{ block.settings.banner | image_url: width: 1780 }} 1780w,{%- endif -%}
                      {%- if block.settings.banner.width >= 2000 -%}{{ block.settings.banner | image_url: width: 2000 }} 2000w,{%- endif -%}
                      {%- if block.settings.banner.width >= 3000 -%}{{ block.settings.banner | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {%- if block.settings.banner.width >= 3840 -%}{{ block.settings.banner | image_url: width: 3840 }} 3840w,{%- endif -%}
                      {{ block.settings.banner | image_url }} {{ block.settings.banner.width }}w"
                                src="{{ block.settings.banner | image_url }}" alt="{{ block.settings.banner.alt }}" class="img-fluid mx-auto lazyload" width="{{ block.settings.banner.width }}" height="{{ block.settings.banner.height }}"/>
                            {% else %}
                                <div class="dummysvg">{{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                            {% endif %}
                        </div>
                        <h2 style="color: {{ block.settings.color_head }};"><span>{{ page_title }}</span></h2>
                    </div>

                {% when 'text-block' %}
                    <div class="wbabttxt">
                        {% if block.settings.textsub != blank %}
                            <div>{{ block.settings.textsub }}</div>
                        {% endif %}
                        {% if block.settings.title != blank %}
                            <h2><span>{{ block.settings.title }}</span></h2>
                        {% endif %}

                        {% if block.settings.text != blank %}
                            <div>{{ block.settings.text }}</div>
                        {% endif %}
                    </div>

                {% when 'image-with-text' %}
                    <div class="wbabtimgtxt">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                {% if block.settings.title2 != blank %}
                                    <h2>{{ block.settings.title2 }}</h2>
                                {% endif %}
                                {% if block.settings.text2 != blank %}
                                    <p>{{ block.settings.text2 }}</p>
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <div class="wbabtimglazy">
                                    {% if block.settings.image != blank %}
                                        <img loading="lazy" src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" class="img-fluid mx-auto lazyload" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}"/>
                                    {% else %}
                                        <div class="dummysvg">{{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            {% endcase %}
        {% endfor %}
    </div>
</div>

{% schema %}
    {
        "name": "About us",
        "class": "section",
        "max_blocks": 8,
        "settings": [

        ],
        "blocks": [
            {
                "type": "banner",
                "name": "Banner",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "banner",
                        "label": "Image"
                    },
                    {
                      "type": "color",
                      "id": "color_head",
                      "label": "Heading Color",
                      "default": "#fff"
                    }
                ]
            },
            {
                "type": "text-block",
                "name": "Text block",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "textsub",
                        "label": "Text",
                        "default": "<p>Content below is a demonstration content, designed to showcase how this page could look with your brand content. This is a demo store. All product are from freepik and unsplash</p>"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Heading",
                        "default": "Discovering your style has never been so easy!"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text",
                        "default": "<p>Imagine the tremendous effort and time you put into perfecting your wardrobe, the need for a shopping partner in choosing the right style for you, the fittings limiting your choices & the problem of plenty! Somehow heaps of clothes find their way into our wardrobe but We only wear very few of them regularly. The inventory-led retail & fast fashion has not just created an excess wardrobe but also an inefficient one.</p>"
                    }
                ]
            },
            {
                "type": "image-with-text",
                "name": "Image With Text",
                "settings": [
                    {
                        "type": "text",
                        "id": "title2",
                        "label": "Heading",
                        "default": "Our mission"
                    },
                    {
                        "type": "richtext",
                        "id": "text2",
                        "label": "Text",
                        "default": "<p>Our Mission is to introduce a superior shopping experience combining technology with expert designer assistance. Get a wardrobe that is 100% you and with your lifestyle and preferences.This Design is your personal designer, letting you discover and define your own style. We are here to help you, save time and your day!</p>"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            }
        ]
    }
{% endschema %}