<div class="section-{{ section.id }}-padding">
<div class="marquee color-{{ section.settings.color_scheme }} gradient">
  <div class="marquee_inner {% if section.settings.marq_diection == 'left_right' %} left_right {% else %} right_left {% endif %}">
    <p>{{ section.settings.wb_marktext }}</p>
    <p>{{ section.settings.wb_marktext }}</p>
    <p>{{ section.settings.wb_marktext }}</p>
    <p>{{ section.settings.wb_marktext }}</p>
    <p>{{ section.settings.wb_marktext }}</p>
    <p>{{ section.settings.wb_marktext }}</p>
    <p>{{ section.settings.wb_marktext }}</p>
    <p>{{ section.settings.wb_marktext }}</p>
    <p>{{ section.settings.wb_marktext }}</p>
    <p>{{ section.settings.wb_marktext }}</p>
    <p>{{ section.settings.wb_marktext }}</p>
  </div>
</div>
</div>
{%- style -%}
.marquee_inner.left_right {
    animation: {{ section.settings.mark_speed }}s linear infinite reverse leftmarquee;
}
.marquee_inner.right_left {
    animation: {{ section.settings.mark_speed }}s linear infinite reverse rightmarquee;
}
.marquee_inner{
  gap: {{ section.settings.mark_space }}px;
}


.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    } 
}
{%- endstyle -%}
{% schema %}
  {
  "name": "Scrolling bar",
    "settings": [
      {
        "type": "select", 
        "id": "color_scheme",
        "options": [
          {
            "value": "background-1",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__2.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__3.label"
          },
          {
            "value": "accent-1",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__4.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__5.label"
          }
        ],
        "default": "accent-1",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.label"
      },
      {
        "type": "textarea",
        "id": "wb_marktext",
        "label": "Heading"
      },

      {
        "type": "range",
        "id": "mark_space",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "Space between items",
        "default": 10
      },
      {
        "type": "range",
        "id": "mark_speed",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "s",
        "label": "Speed",
        "default": 34
      },
      {
        "type": "select",
        "id": "marq_diection",
        "label": "Direction",
        "options": [
          {
            "value": "left_right",
            "label": "Left to right"
          },
          {
            "value": "right_left",
            "label": "Right to left"
          }
        ],
        "default": "right_left"
      },





      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Scrolling bar"
      }
    ]
  }
{% endschema %}
