<div class="custom-page">
    <h1>{{ page.title }}</h1>
    <div class="custom-content">
        <p class="intro-text">
            {{ page.metafields.custom.intro_text }} <!-- ou {{ page.content | split: '<!-- more -->' | first }} -->
        </p>
        <div id="moreText" style="display:none;">
            <p>
                {{ page.metafields.custom.more_text }} <!-- ou {{ page.content | split: '<!-- more -->' | last }} -->
            </p>
        </div>
        <button id="showMoreBtn" onClick="toggleText()">Ver Mais</button>
    </div>
</div>
<script>
function toggleText() {
    var moreText = document.getElementById("moreText");
    var btnText = document.getElementById("showMoreBtn");

    if (moreText.style.display === "none") {
        moreText.style.display = "block";
        btnText.textContent = "Ver Menos";
    } else {
        moreText.style.display = "none";
        btnText.textContent = "Ver Mais";
    }
}
</script>
